<section id="reference" class="col-12 my-3">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <div class="card h-100">
                        <div class="card-header">Дни недели</div>
                        <div class="card-body" id="day-list">
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-danger" disabled aria-disabled="true">Удалить</button>
                            <button class="btn btn-sm btn-primary float-end" data-action="add" data-target="day" data-type="day">Добавить</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card h-100">
                        <div class="card-header">Период времени</div>
                        <div class="card-body" id="time-list">
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-danger" disabled aria-disabled="true">Удалить</button>
                            <button class="btn btn-sm btn-primary float-end" data-action="add" data-target="time" data-type="time">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-7">
                    <div class="card h-100">
                        <div class="card-header">Отправители</div>
                        <div class="card-body" id="sender-list">
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-danger" disabled aria-disabled="true">Удалить</button>
                            <button class="btn btn-sm btn-primary float-end" data-action="add" data-target="sender" data-type="string">Добавить</button>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card h-100">
                        <div class="card-header">Темы</div>
                        <div class="card-body" id="subject-list">
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-danger" disabled aria-disabled="true">Удалить</button>
                            <button class="btn btn-sm btn-primary float-end" data-action="add" data-target="subject" data-type="string">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card h-100">
                <div class="card-header">Телефоны</div>
                <div class="card-body" id="phone-list">
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-danger" disabled aria-disabled="true">Удалить</button>
                    <button class="btn btn-sm btn-primary float-end" data-action="add" data-target="telnum" data-type="string">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</section>
