<section id="scheduler" class="col-12 my-5">
    <h2 class="h2">Задания<button class="btn btn-sm btn-dark float-end" id="task-add">Добавить</button></h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Дни недели
                </th>
                <th>
                    Период времени
                </th>
                <th>
                    Отправитель
                </th>
                <th>
                    Тема
                </th>
                <th>
                    Телефон
                </th>
                <th>
                    Активность
                </th>
                <th>
                    Действия
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>
